.earth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.form-container {
    margin-bottom: 20px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-image {
    width: 400px; /* Adjust width as needed */
    height: auto;
    margin-bottom: 20px;
}

.details-container {
    text-align: left;
}
